<div class="parallax-container">
    <div class="parallax"><img src="~/Public/img/weightLiftFix.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">CROSSFIT BARUK</h2>
        <p class="grey-text text-darken-3 lighten-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#Más que un box una familia</p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="~/Public/img/parallax2.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">Somos un box afiliado</h2>
        <p class="grey-text text-darken-3 lighten-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Todos nuetros coach estan afiliados con Crossfit.</p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="~/Public/img/parallax3.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">Nutricion y Terapia</h2>
        <p class="grey-text text-darken-3 lighten-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contamos con un terapeuta que sabe bastante de las posibles lesiones en Crossfit.p>
        <p class="grey-text text-darken-3 lighten-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ademas de una nutricionista especializada en España.</p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="~/Public/img/parallax4.jpg"></div>
</div>