@{
    ViewBag.Title = "Home Page";
}

<div class="card">
    <div class="slider" style="margin-top: 5%; margin-bottom: 5%;">
        <ul class="slides">
            <li>
                <img src="~/Public/img/sample1.jpg">
                <div class="caption center-align">
                    <h3>Competencia</h3>
                    <h5 class="light grey-text text-lighten-3">Lorem ipsum dolor sit amet.</h5>
                </div>
            </li>
            <li>
                <img src="~/Public/img/sample2.jpg">
                <div class="caption left-align">
                    <h3>hay que ver que fotos se van a usar para cambiar el color del texto</h3>
                    <h5 class="light grey-text text-lighten-3">Lorem ipsum dolor sit amet.</h5>
                </div>
            </li>
            <li>
                <img src="~/Public/img/sample3.jpg">
                <div class="caption right-align">
                    <h3>se pueden agregar mas fotos si fuera necesario</h3>
                    <h5 class="light grey-text text-lighten-3">Lorem ipsum dolor sit amet.</h5>
                </div>
            </li>
        </ul>
    </div>
</div>
