<div class="container body-content">
    <div class="row">
        <br />
        <form class=" card col s12 #9e9e9e grey" style="margin-top: 2%;">
            <br /><br />
            <div class="row">
                <center> <i class="large material-icons">error_outline</i> </center>
            </div>
            <div class="row">
                <center>
                    <h1>Acceso Denegado</h1>
                </center>
            </div>
            <div class="row">
                <center>
                    <h5>No posee los permisos necesarios para visualizar este contenido.</h5>
                </center>
            </div>
            <br /><br />
        </form>
    </div>
</div>
