@if (Session["UserType"] != null)
{
    <table class="card white-text center" style="margin-bottom:3%; margin-top:5%">
        <thead>
            <tr class="teal darken-1">
                <th class="center">Símbolos:</th>
                <th class="center">Clases regulares: <img src="~/Public/img/weightSmall.png" alt="Alternate Text" /></th>
                <th class="center">Barbell club: <img src="~/Public/img/weightliftingSmall.png" alt="Alternate Text" /></th>
                <th class="center">Gimnasia: <img src="~/Public/img/gymnasticsSmall.png" alt="Alternate Text" /></th>
            </tr>
        </thead>
    </table>

    <table class="card white-text center highlight grey lighten-2">
        <thead>
            <tr class="teal darken-2">
                <th class="center">Horario</th>
                <th class="center">Lunes</th>
                <th class="center">Martes</th>
                <th class="center">Miercoles</th>
                <th class="center">Jueves</th>
                <th class="center">Viernes</th>
                <th class="center">Sábado</th>
            </tr>
        </thead>
        <tbody>
            <tr class="center">
                <td class="teal darken-1 center"><b>5:00 am</b></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>

            </tr>
            <tr>
                <td class="teal darken-1 center"><b>6:00 am</b></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
                <td class="center black-text">10:00 am <img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
            </tr>
            <tr>
                <td class="teal darken-1 center"><b>10:30 am</b></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
                <td class="center black-text">11:00 am <img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
            </tr>
            <tr>
                <td class="teal darken-1 center"><b>11:30 am</b></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
                <td class="center black-text">12:00 md <img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
            </tr>
            <tr>
                <td class="teal darken-1 center"><b>4:00 pm</b></td>
                <td colspan="5" class="center black-text">
                    Open&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;Box
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;Competidores
                </td>
            </tr>
            <tr>
                <td class="teal darken-1 center"><b>5:00 pm</b></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
            </tr>
            <tr>
                <td class="teal darken-1 center"><b>6:00 pm</b></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
            </tr>
            <tr>
                <td class="teal darken-1 center"><b>7:00 pm</b></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
                <td class="center"><img src="~/Public/img/weightSmall.png" alt="weightIcon" /></td>
            </tr>
            <tr>
                <td class="teal darken-1 center"><b>8:00 pm</b></td>
                <td class="center black-text">Open</td>
                <td class="center"><img src="~/Public/img/weightliftingSmall.png" alt="weightLift" /></td>
                <td class="center black-text">Box</td>
                <td class="center"><img src="~/Public/img/gymnasticsSmall.png" alt="gymnastics" /></td>
                <td colspan="2" class="center black-text">Competidores</td>
            </tr>
        </tbody>
    </table>
}
@if (Session["UserType"] == null)
{
    Response.Redirect("~/Information/_Denied");
}