<div class="col s12 m7">
    <div class="card  teal darken-4 hoverable">
        <div class="center">
            <span class="card-title white-text" style="font-size: 55px">¿Por qué elegirnos?</span>
        </div>
    </div>
    <div class="card horizontal hoverable">
        <div class="card-image">
            <img src="https://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked teal darken-3">
            <div class="card-content white-text">
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                </p>
            </div>
        </div>
    </div>
</div>

    <ul class="collapsible white-text teal darken-1 hoverable">
        <li class="white-text">
            <div class="collapsible-header teal darken-3"><i class="material-icons">filter_1</i>Primero</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header teal darken-3"><i class="material-icons">filter_2</i>Segundo</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header teal darken-3"><i class="material-icons">filter_3</i>Tercero</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>

