<div class="container body-content">
    @*<div class="col s12 m7">
            <div class="card  teal darken-4 hoverable">
                <div class="center">
                    <span class="card-title white-text" style="font-size: 55px">¿Por qué elegirnos?</span>
                </div>
            </div>
            <div class="card horizontal hoverable">
                <div class="card-image">
                    <img src="https://lorempixel.com/100/190/nature/6">
                </div>
                <div class="card-stacked teal darken-3">
                    <div class="card-content white-text">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                        </p>
                    </div>
                </div>
            </div>
        </div>

            <ul class="collapsible white-text teal darken-1 hoverable">
                <li class="white-text">
                    <div class="collapsible-header teal darken-3"><i class="material-icons">filter_1</i>Primero</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header teal darken-3"><i class="material-icons">filter_2</i>Segundo</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header teal darken-3"><i class="material-icons">filter_3</i>Tercero</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
            </ul>*@


    <div class="card z-depth-3">
        <div class="slider" style="margin-top: 5%; margin-bottom: 5%;">
            <ul class="slides">
                <li>
                    <img src="~/Public/img/sample1.jpg">
                    <div class="caption center-align">
                        <h3>PalmaWod 2019</h3>
                        <h5 class="light grey-text text-lighten-3">Competencia a Nivel Nacional</h5>
                    </div>
                </li>
                <li>
                    <img src="~/Public/img/sample2.jpg">
                    <div class="caption left-align  black-text">
                        <h3>Competencia Interna</h3>
                        <h5 class="light black-text flow-text">Mujer Modificado</h5>
                    </div>
                </li>
                <li>
                    <img src="~/Public/img/sample3.jpg">
                    <div class="caption center-align white-text">
                        <h3>Staff</h3>
                        <h5 class="light grey-text text-lighten-3"></h5>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
