
<div class="container body-content">
    <div class="row">
        <form class=" card col s12 blue-grey darken-1 z-depth-3" style="margin-top: 2%;">
            <div class="center">
                <span class="card-title white-text" style="font-size: 55px">Contáctenos</span>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate" required>
                    <label for="first_name"><span class="grey-text text-lighten-2">Nombre</span></label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate" required>
                    <label for="last_name"><span class="grey-text text-lighten-2">Apellido</span></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" required>
                    <label for="email"><span class="grey-text text-lighten-2">Email</span></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="moreInfo" type="text" class="validate" required>
                    <label for="moreInfo"><span class="grey-text text-lighten-2">¿Sobre que desea saber más?</span></label>
                </div>
            </div>
            <div class="row center">
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Enviar
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
    <strong>Email:</strong>   <a class="teal-text text-darken-4" href="mailto:crossfit.baruk@gmail.com">crossfit.baruk@gmail.com</a><br />
</div>
