
@{
    ViewData["Title"] = "InformationForm";
}
<div class="container body-content">
    <div class="row">
        <form method="post" class=" card col s12 blue-grey darken-1 z-depth-3" style="margin-top: 2%;">
            <div class="center">
                <span class="card-title white-text" style="font-size: 55px">Contáctenos</span>
            </div>
            @using (Html.BeginForm("InformationForm", "Information", FormMethod.Post, new { @class = "contact-list", id = "contacts_form", role = "form", target = "_blank" }))
            {
                @Html.TextBox("name", null, new { @class = "form_item validate", @required = "required", placeholder = "Nombre", type = "text" })
                @Html.TextBox("email", null, new { @class = "form_item validate", @required = "required", placeholder = "Correo", type = "email" })
                @Html.TextBox("message", null, new { @class = "form_item validate", @required = "required", placeholder = "Mensaje", type = "text" })

                <div class="row center">
                    <button class="btn waves-effect waves-light light-green accent-4" type="submit" name="action">
                        Enviar
                        <i class="material-icons right">send</i>
                    </button>
                </div>

            }
        </form>
    </div>
    <strong>Email:</strong>   <a class="teal-text text-darken-4" href="mailto:crossfit.baruk@gmail.com">crossfit.baruk@gmail.com</a><br />
</div>
