

<div class="row">
    <h2 class="header white-text">Contáctenos</h2>
    <form class=" card col s12 grey darken-3" style="margin-top: 2%;">
        <div class="row">
            <div class="input-field col s6">
                <input id="first_name" type="text" class="validate" required>
                <label for="first_name">Nombre</label>
            </div>
            <div class="input-field col s6">
                <input id="last_name" type="text" class="validate" required>
                <label for="last_name">Apellido</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate" required>
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="moreInfo" type="text" class="validate" required>
                <label for="moreInfo">¿Sobre que desea saber más?</label>
            </div>
        </div>
        <div class="center">
            <div class="col-md-offset-2 col-md-10" style="margin-top:2%; margin-bottom: 2%;">
                <input type="submit" value="Enviar" class="btn btn-default light-green accent-4 black-text" />
            </div>
        </div>
    </form>
</div>
<strong>Email:</strong>   <a class="teal-text text-darken-4" href="mailto:crossfit.baruk@gmail.com">crossfit.baruk@gmail.com</a><br />
