<div class="col s12 m7">
    <h2 class="header black-text center-align" >¿Quienes somos?</h2>
    <div class="card horizontal blue-grey darken-1">
        <div class="card-image">
            <img src="~/Public/img/Quienes somos.jpg" height="350" width="500">
        </div>
        <div class="card-stacked">
            <div class="card-content  white-text">
                <p class="flow-text" style="text-align:center">
                    El CrossFit es un deporte basado en ejercicios constantemente variados, con movimientos funcionales ejecutados a alta intensidad.
                    Basado en ejercicios como levantamiento olímpico, gimnasia y cardio muchas veces los 3 ejecutados dentro de una misma programación de ejercicios.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m6 left">
        <div class="card blue-grey darken-1">
            <div class="card-image">
                <img src="https://scontent-atl3-1.cdninstagram.com/vp/2140b0e5dc689860ba7d8524d656d7f3/5D8FCD41/t51.2885-15/e35/17127089_390213524692328_9072363044016750592_n.jpg?_nc_ht=scontent-atl3-1.cdninstagram.com" height="300" width="100"/>
            </div>
            <div class="card-content white-text">
                <span class="card-title white-text">Objetivos Como Box</span>
                <p style="text-align:justify;">
                    La idea como box es incentivar a los deportistas a medirse cuanto pueden dar e incluso cuanto pueden alcanzar, motivarlos a llegar a nuevos limites
                    para mejorar y vencer a las malas mentalidades. CrossFit es una forma de vencer obstáculos mentales y negativos, para eliminar de la mente el <strong>NO PUEDO</strong>.
                </p>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-image">
                <img src="https://i.ytimg.com/vi/kWFdxw5qKm8/maxresdefault.jpg" height="250" width="150">
            </div>
            <div class="card-content  white-text">
                <p style="text-align:justify;">
                    <span class="card-title">Competencias</span>
                    Tenemos muchas participación en competecias nacionales de diferentes niveles: RX, Intermedio y Escalado.
                    Contamos con un área de desportistas avanzados que entranan todas las semanas, para poder representar al box en estas competencias.
                </p>
            </div>
        </div>
    </div>
</div>

