<div class="container body-content">
    <div class="col s12 m7 ">
        <div class="card blue-grey darken-4 hoverable">
            <div class="center">
                <span class="card-title white-text" style="font-size: 55px">¿Quienes somos?</span>
            </div>
        </div>
        <div class="card horizontal blue-grey darken-1 hoverable">
            <div class="card-image">
                <img src="~/Public/img/Quienes somos.jpg" height="350" width="500">
            </div>
            <div class="card-stacked">
                <div class="card-content  white-text">
                    <p style="text-align: justify">
                        Somos CrossFit Baruk, un centro de entrenamiento funcional que se ubica en la Uruca - San José; el CrossFit es un tipo de entrenamiento físico basado en ejercicios funcionales constantemente variados, ejecutados a alta intensidad. Además, se practican diversas disciplinas como: levantamiento olímpico, gimnasia y endurance. Todos los movimientos se aprenden progresivamente.
                        Las clases tiene una duración de aproximadamente 1 hora, contamos con diversos horarios, servicios como terapia física y nutrición y amplio estacionamiento.
                        Contamos con experiencia a nivel profesional, los entrenadores están certificados en las diversas áreas para desarrollar dicha labor.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 left">
            <div class="card blue-grey darken-1 hoverable">
                <div class="card-image">
                    <img src="https://scontent-atl3-1.cdninstagram.com/vp/2140b0e5dc689860ba7d8524d656d7f3/5D8FCD41/t51.2885-15/e35/17127089_390213524692328_9072363044016750592_n.jpg?_nc_ht=scontent-atl3-1.cdninstagram.com" height="300" width="100" />
                </div>
                <div class="card-content white-text">
                    <span class="card-title white-text">Objetivos Como Box</span>
                    <p style="text-align:justify;">
                        +Incentivar un estilo de vida saludable por medio de un entrenamiento funcional ejecutado a alta intensidad para mejorar las capacidades físicas.<br />
                        +Propiciar un ambiente agradable y familiar por medio de un servicio al cliente de forma integral para céntranos en las necesidades del cliente.
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card blue-grey darken-1 hoverable">
                <div class="card-image">
                    <img src="https://i.ytimg.com/vi/kWFdxw5qKm8/maxresdefault.jpg" height="250" width="150">
                </div>
                <div class="card-content  white-text">
                    <p style="text-align:justify;">
                        <span class="card-title">Competencias Nacionales</span>
                        Brindamos una programación adicional para las personas que desean competir a nivel nacional en diversas categorías como: escaldas, intermedio y RX.
                        Hemos participado en competencias como: Palmawod, RedSky, Costa Rica RX Challenge, WodFest, Copa Independencia, entre otras.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
