<div class="col center ">
    <div class="col s6 m6 center " style="padding-left:25%; padding-right:25%; margin-top:10%; margin-bottom:10%;">
        <div class="card small blue-grey darken-1 center">
            <!--  -->
            <div style="background:#546E7A; color:white;">
                <span class="card-title">Rutinas Disponibles</span>
                        <table style="  border-collapse: separate; border-spacing: 10px 5px;">
                            <tr>
                                <td>[RutinaClienteID]</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td align="right">x</td>
                            </tr>
                            <tr>
                                <td>[TipoRutinaID]</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td align="right">x</td>
                            </tr>
                            <tr>
                                <td>[DescRutina]</td>
                            </tr>
                            <tr>
                                <td>x</td>
                            </tr>
                        </table>
                    

            </div>
            </div>
        </div>
    </div>
