<div class="col center ">
    <div class="col s6 m6 center " style="padding-left:25%; padding-right:25%; margin-top:10%; margin-bottom:10%;">
        <div class="card small blue-grey darken-1 center">
            <div class="card-content white-text">
                <span class="card-title">Tipo Membresia</span>
                <p>
                    <div class="row">
                        <table>
                            <tr>
                                <td>
                                    <i class="small material-icons">perm_identity</i>
                                </td>
                                <td>
                                    <div class="input-field col s12">
                                        <input value="" id="ID" type="text" class="validate white-text">
                                        <label class="active" for="ID"><span class="grey-text text-lighten-2">Cédula</span></label>
                                    </div>

                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="switch">
                        <label>
                            <span class="grey-text text-lighten-2">Regular</span>
                            <input type="checkbox">
                            <span class="lever"></span>
                            <span class="grey-text text-lighten-2">Avanzado</span>
                        </label>
                    </div>
                </p>
                <div class="row center">
                    <button class="btn waves-effect waves-light" style="margin-top :7%" type="submit" name="action">
                        Realizar Cambios
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>