@if (Session["UserType"] != null && Session["UserType"].Equals("Admin"))
{
<div class="body-content">
    <div class="col center ">
        <div class="col s6 m6 center " style="padding-left:25%; padding-right:25%; margin-top:10%; margin-bottom:10%;">
            <div class="card small blue-grey darken-1 center z-depth-3">
                <div class="card-content white-text">
                    <div class="center">
                        <span class="card-title" style="font-size: 35px">Tipo de Membresía</span>
                    </div>
                    <p>
                        <div class="row">

                            <div class="input-field col s12">
                                <i class="small material-icons prefix">perm_identity</i>
                                <input value="" id="ID" type="text" class="validate white-text" required>
                                <label class="active" for="ID"><span class="grey-text text-lighten-2">Cédula</span></label>
                            </div>

                        </div>
                        <div class="switch">
                            <label>
                                <span class="grey-text text-lighten-2">Regular</span>
                                <input type="checkbox">
                                <span class="lever"></span>
                                <span class="grey-text text-lighten-2">Avanzado</span>
                            </label>
                        </div>
                    </p>
                    <div class="row center">
                        <button class="btn waves-effect waves-light light-green accent-4" style="margin-top :7%" type="submit" name="action">
                            Realizar Cambios
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        }
        @if (Session["UserType"] == null | (Session["UserType"] != null && (Session["UserType"].Equals("1") | Session["UserType"].Equals("2"))))
        {
            Response.Redirect("~/Information/_Denied");
        }
