<div class="row center">
    <div class="col s12 m6 ">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Tipo Membresia</span>
                <p>
                    <div class="row">
                        <div class="input-field col s6">
                            <input value="Cédula" id="ID" type="number" class="validate">
                            <label class="active" for="ID">Cédula</label>
                        </div>
                    </div>
                    <div class="switch">
                        <label>
                            Regular
                            <input type="checkbox">
                            <span class="lever"></span>
                            Avanzado
                        </label>
                    </div>
                </p>
            </div>
            <div class="center">
                <div class="col-md-offset-2 col-md-10" style="margin-top:2%; margin-bottom: 2%;">
                    <input type="submit" value="Realizar Cambios" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
</div>