<div class="row">
    <h2 class="header white-text">Nuevo Cliente</h2>
    <form class=" card col s12 grey darken-3" style="margin-top: 2%;">
        <div class="row">
            <div class="input-field col s6">
                <input id="first_name" type="text" class="validate" required>
                <label for="first_name">Nombre</label>
            </div>
            <div class="input-field col s6">
                <input id="last_name" type="text" class="validate" required>
                <label for="last_name">Primer Apellido</label>
            </div>
            <div class="input-field col s6">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">Segundo Apellido</label>
            </div>
        </div>
        <div class="input-field col s12w white-text">
            <select required>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
            <label>Género</label>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="address" type="text" class="validate" required>
                <label for="address">Dirección</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="date" type="text" class="datepicker">
                <label for="date">Fecha de Vencimiento</label>
            </div>
        </div>
    </form>
</div>