@if (Session["UserType"] != null && Session["UserType"].Equals("Admin"))
{
    <div class="row">
        <form class="blue-grey darken-1 card col s12" style="margin-top: 2%;">
            <div class="center">
                <span class="card-title white-text" style="font-size: 55px">Nuevo Cliente</span>
            </div>
            <div class="row">
                <table style="border-collapse: separate; border-spacing: 10px 5px;">
                    <tr>
                        <td width="25px">
                            <i class="small material-icons">person</i>
                        </td>
                        <td>
                            <div class="input-field col s12">
                                <input id="first_name" type="text" class="validate white-text" required>
                                <label for="first_name"><span class="grey-text text-lighten-2">Nombre</span></label>
                            </div>
                        </td>
                    </tr>
                </table>
                <table style="border-collapse: separate; border-spacing: 10px 5px;">
                    <tr>
                        <td width="25px">
                            <i class="small material-icons">person</i>
                        </td>
                        <td>
                            <div class="input-field col s12">
                                <input id="last_name" type="text" class="validate white-text" required>
                                <label for="last_name"><span class="grey-text text-lighten-2">Apellido</span></label>
                            </div>
                        </td>
                    </tr>
                </table>

                <table style="border-collapse: separate; border-spacing: 10px 5px;">
                    <tr>
                        <td width="25px">
                            <i class="small material-icons">person</i>
                        </td>
                        <td>
                            <div class="input-field col s12">
                                <input id="last_name" type="text" class="validate white-text">
                                <label for="last_name"><span class="grey-text text-lighten-2">Segundo Apellido</span></label>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <table style="border-collapse: separate; border-spacing: 10px 5px;">
                <tr>
                    <td width="25px">
                        <i class="small material-icons">group</i>
                    </td>
                    <td>
                        <div class="input-field col s12w white-text">
                            <select required>
                                <option value="1">1-Masculino</option>
                                <option value="2">2-Femenina </option>

                            </select>
                            <label><span class="grey-text text-lighten-2">Género</span></label>
                        </div>

                    </td>
                </tr>
            </table>


            <div class="row">
                <table style="border-collapse: separate; border-spacing: 10px 5px;">
                    <tr>
                        <td width="25px">
                            <i class="small material-icons">email</i>
                        </td>
                        <td>
                            <div class="input-field col s12">
                                <input id="email" type="email" class="validate white-text">
                                <label for="email"><span class="grey-text text-lighten-2">Email</span></label>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <table style="border-collapse: separate; border-spacing: 10px 5px;">
                    <tr>
                        <td width="25px">
                            <i class="small material-icons">date_range</i>
                        </td>
                        <td>
                            <div class="input-field col s12">
                                <input id="date" type="text" class="datepicker white-text">
                                <label for="date"><span class="grey-text text-lighten-2">Fecha de pago</span></label>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row center">
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Agregar
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
}
@if (Session["UserType"] == null | (Session["UserType"] != null && (Session["UserType"].Equals("1") | Session["UserType"].Equals("2"))))
{
    Response.Redirect("~/Information/_Denied");
}