@model Baruk.Models.Pago

<div class="row">
    <h2 class="header white-text">Nueva Factura</h2>
    @using (Html.BeginForm("NewInvoice", "Customer", FormMethod.Post, new { @class = " card col s12 grey darken-3", @style = "margin-top: 2%;" }))
    {
        <br />
        <h6 class="grey-text">Tipo Suscripción</h6>
        @Html.DropDownListFor(model => model.TipoSuscripcion, ViewBag.TipoSuscripcion as SelectList, "")
        @Html.ValidationMessageFor(model => model.TipoSuscripcion, "", new { @class = "validate white-text" })
       
        <div class="input-field col s12">
                <label>Fecha Pago</label>
                <input id="FechaPago" name="FechaPago" type="text" class="datepicker" required>
            </div>

            <div class="input-field col s12">
                <select required id="TipoPago" name="TipoPago">
                    <option value="" disabled selected>Tipo Pago</option>
                    <option value="1">Efectivo</option>
                    <option value="2">Tarjeta</option>
                    <option value="3">Transacción</option>
                </select>
                <label>Tipo Pago</label>
            </div>

            <div class="input-field col s12">
                <select id="Descuento" name="Descuento">
                    <option value="" disabled selected>Descuento</option>
                    <option value="1">Si</option>
                    <option value="2">No</option>
                </select>
                <label>Descuento</label>
            </div>

            <div class="input-field col s12" required>
                <select id="TipoMensualidad" name="TipoMensualidad">
                    <option value="" disabled selected>Tipo Mensualidad</option>
                    <option value="1">3 Días a la Semana</option>
                    <option value="2">Ilimitada</option>
                </select>
                <label>Tipo Mensualidad</label>
            </div>

            <div class="input-field col s12">
                <select id="Morosidad" name="Morosidad">
                    <option value="" disabled selected>Morosidad</option>
                    <option value="1">Si</option>
                    <option value="2">No</option>
                </select>
                <label>Morosidad</label>
            </div>

            <div class="input-field col s12" required>
                <select id="TipoCliente" name="TipoCliente">
                    <option value="" disabled selected>Tipo Clinte</option>
                    <option value="Normal">Normal</option>
                    <option value="Avanzado">Avanzado</option>
                </select>
                <label>Tipo Clinte</label>
            </div>

            <div class="row center">
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Crear Factura
                    <i class="material-icons right">send</i>
                </button>
            </div>
    }
</div>
