<div class="row">
    <h2 class="header white-text">Nueva Rutina</h2>
    <form class=" card col s12 grey darken-3" style="margin-top: 2%;">
        <div class="row">
            <div class="input-field col s6">
                <input id="instructor" type="text" class="validate">
                <label for="instructor">Instructor</label>
            </div>
            <div class="input-field col s6">
                <input id="ID" type="text" class="validate">
                <label for="ID">Cédula</label>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="date" type="text" class="datepicker">
                    <label for="date">Fecha de Vencimiento</label>
                </div>
            </div>
            <div class="input-field col s2">
                <input id="Desc" type="text" class="validate">
                <label for="Desc">Descripción</label>
            </div>
        </div>
        <div class="center">
            <div class="col-md-offset-2 col-md-10" style="margin-top:2%; margin-bottom: 2%;">
                <input type="submit" value="Agregar" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>