<div class="row">
    <h2 class="header white-text">Nueva Factura</h2>
    <form class=" card col s12 grey darken-3" style="margin-top: 2%;">

        <div class="input-field col s12">
            <select>
                <option value="" disabled selected>[TipoSuscripcion]</option>
                <option value="Mensual">Mensual</option>
                <option value="Trimestral">Trimestral</option>
                <option value="Anual">Anual</option>
            </select>
            <label>[TipoSuscripcion]</label>
        </div>

        <div class="input-field col s12">
            <label>[FechaPago]</label>
            <input type="text" class="datepicker">
        </div>

            <div class="input-field col s12">
                <select>
                    <option value="" disabled selected>[TipoPagoID]</option>
                    <option value="Efectivo">Efectivo</option>
                    <option value="Tarjeta">Tarjeta</option>
                    <option value="Transaccion">Transacción</option>
                </select>
                <label>[TipoPagoID]</label>
            </div>

            <div class="input-field col s12">
                <select>
                    <option value="" disabled selected>[DescuentoID]</option>
                    <option value="Promocion">Si</option>
                    <option value="2">No</option>
                </select>
                <label>[DescuentoID]</label>
            </div>

            <div class="input-field col s12">
                <select>
                    <option value="" disabled selected>[TipoMensualidadID]</option>
                    <option value="3 Dias a la Semana">3 Dias a la Semana</option>
                    <option value="Ilimitada">Ilimitada</option>
                </select>
                <label>[TipoMensualidadID]</label>
            </div>

            <div class="input-field col s12">
                <select>
                    <option value="" disabled selected>[MorosidadID]</option>
                    <option value="De 5 Dias">Si</option>
                    <option value="2">No</option>
                </select>
                <label>[MorosidadID]</label>
            </div>

            <div class="input-field col s12">
                <select>
                    <option value="" disabled selected>[TipoClinteID]</option>
                    <option value="Normal">Normal</option>
                    <option value="Avanzado">Avanzado</option>
                </select>
                <label>[TipoClinteID]</label>
            </div>

            <div class="center">
                <div class="col-md-offset-2 col-md-10" style="margin-top:2%; margin-bottom: 2%;">
                    <input type="submit" value="Crear Factura" class="btn btn-default light-green accent-4 black-text" />
                </div>
            </div>
    </form>
</div>