<div class="row">
    <h2 class="header white-text">Ver Facturas</h2>
    <div style="background:#546E7A; color:white;">
        <table style=" border-collapse: separate; border-spacing: 5px 5px;">
            <thead>
                <tr>
                    <th>[PagoID]</th>
                    <th>[TipoSuscripcion]</th>
                    <th>[FechaPago]</th>
                    <th>[TipoPagoID]</th>
                    <th>[DescuentoID]</th>
                    <th>[TipoMensualidadID]</th>
                    <th>[MorosidadID]</th>
                    <th>[TipoClinteID]</th>
                </tr>
            </thead>
            <tbody>
                <!--  foreach () { -->
                <tr>
                    <td> "[PagoID]"</td>
                    <td>"[TipoSuscripcion]"</td>
                    <td>"[FechaPago]"</td>
                    <td>"[TipoPagoID]"</td>
                    <td>"[DescuentoID]"</td>
                    <td>"[TipoMensualidadID]"</td>
                    <td>"[MorosidadID]"</td>
                    <td>"[TipoClinteID]"</td>
                </tr>
                <!--   } -->
            </tbody>
            </table>
        </div>
    </div>
