<div class="row">
    <h2 class="header white-text">Ver Facturas</h2>
        <table class="blue-grey white-text" style=" border-collapse: separate; border-spacing: 5px 5px;">
            <thead>
                <tr>
                    <th>Pago</th>
                    <th>Tip Suscripción</th>
                    <th>Fecha Pago</th>
                    <th>Tipo Pago</th>
                    <th>Descuento</th>
                    <th>Tipo Mensualidad</th>
                    <th>Morosidad</th>
                    <th>Tipo Clinte</th>
                </tr>
            </thead>
            <tbody>
                <!--  foreach () { -->
                <tr>
                    <td> "[PagoID]"</td>
                    <td>"[TipoSuscripcion]"</td>
                    <td>"[FechaPago]"</td>
                    <td>"[TipoPagoID]"</td>
                    <td>"[DescuentoID]"</td>
                    <td>"[TipoMensualidadID]"</td>
                    <td>"[MorosidadID]"</td>
                    <td>"[TipoClinteID]"</td>
                </tr>
                <!--   } -->
            </tbody>
        </table>
    </div>
</div>
