<hr />
<footer class="page-footer light-blue darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h6 class="white-text">  <i class="tiny material-icons"> location_on</i> Estamos ubicados en</h6>
                <p class="grey-text text-lighten-4">
                    Calle 36 Uruca, San Jose, Costa Rica

                </p>
                <h6 class="white-text"><i class="tiny material-icons">call</i> Teléfono</h6>
                <p class="grey-text text-lighten-4">(506) 8326 0333</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h6 class="white-text">  <i class="tiny material-icons"> people</i> Más de nosotros</h6>
                <ul>
                    <li><a target="_blank" class="grey-text text-lighten-3" href="https://www.facebook.com/CrossFit-Baruk-309304602590968/"><img src="~/Public/img/facebookIcon.png" alt="Alternate Text" /> Facebook</a></li>
                    <li><a target="_blank" class="grey-text text-lighten-3" href="https://www.instagram.com/explore/locations/453759382/crossfit-baruk/"><img src="~/Public/img/InstagramIcon.png" alt="Alternate Text" /> Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2019 Baruk
            @if (Session["UserType"] == null)
            {
                <div class="light-blue-text" style="margin-left: 85%">
                    @Html.ActionLink("Acceso Admin", "AdminLogin", "Login")
                </div>
            }
        </div>
    </div>
</footer>
